.super-mario {
  width: 300px;
  position: absolute;
  z-index: 1;
  margin: 20px;
}

.goomba {
  width: 300px;
  position: absolute;
  z-index: 2;
  float: inline-start;
  top: 520px;
  margin: 20px;
}

.bowser {
  position: absolute;
  z-index: 3;
  width: 300px;
  top: 1000px;
  left: 100px;
  margin: 20px;
}

.baloon {
  width: 200px;
  position: absolute;
  z-index: 4;
  top: 930px;
}

p{
  position: absolute;
  z-index: 5;
}

.word {
  top: 955px;
  left: 20px;
}